{% extends 'base.html' %}

{% block title %} Updatabox | Forget Password {% endblock title %}

{% block body %}

<section class="hero is-white is-fullheight">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category,message in messages %}
    <div class="notification is-{{ category }}">
        <button class="delete"></button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="hero-body">
      
        <div class="container has-text-centered">
          
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">Forget Password</h3>
                <hr class="has-background-black">
                <div class="box">
                    <form method="POST" class="has-text-left" id="emailVerify">
                        <div class="field">
                            <label class="label has-text-left">Enter Email Address</label>
                            <div class="control">
                              <input class="input" type="email" name="email" id="email" placeholder="e.g. alex98@gmail.com" required>
                            </div>
                            <p class="help" id="emailReq"></p>
                          </div>
                          <button type="submit" class="button is-success">Continue</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}

{% block js %}

<script src="{{ url_for('static', filename='js/emailVerify.js') }}"></script>

{% endblock js %}
