{% extends 'base.html' %}

{% block title %} Updatabox | Sign Up {% endblock title %}

{% block body %}

<section class="hero is-white is-fullheight">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category,message in messages %}
  <div class="notification is-{{ category }}">
      <button class="delete"></button>
      {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
    <div class="hero-body">
      
        <div class="container has-text-centered">
          
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">Sign Up</h3>
                <hr class="has-background-black">
                <div class="box">
                    <form action="/signup" method="POST" class="has-text-left" id="signupForm">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                              <input class="input" type="text" id="name" name="name" placeholder="e.g. Alex Joe" required>
                            </div>
                            <p class="help" id="nameReq"></p>
                          </div>
                            <div class="field">
                              <label class="label has-text-left">Email</label>
                              <div class="control">
                                <input class="input" type="email" id="email" name="email" placeholder="e.g. alex@example.com" required>
                              </div>
                              <p class="help" id="emailReq"></p>
                              
                            </div>
                        
                            <div class="field">
                              <label class="label has-text-left">Password</label>
                              <div class="control">
                                <input class="input" type="password" id="pass" name="pass" placeholder="********" title="Must contain at least one number and one uppercase and lowercase letter, at least one special character and at least 8 or more characters" required>
                              </div>
                              <p class="help" id="passReq"></p>
                            </div>
                            <div class="field">
                              <label class="label has-text-left">Confirm Password</label>
                              <div class="control">
                                <input class="input" type="password" id="passConf" name="passConf" placeholder="********" title="Must contain at least one number and one uppercase and lowercase letter, at least one special character and at least 8 or more characters" required>
                              </div>
                              <p class="help" id="passCReq"></p>
                            </div>
                            <button type="submit" class="button is-link is-block is-fullwidth" id="signup" >Sign Up</button>
                            {% if emailExists %}
                            <p class="help">email exists</p>
                            {% endif %}
                          </form>
                            <p class="is-size-6 has-text-grey mt-3">Already have an Account? &nbsp;<a href="/login">Login</a></p>
                          
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}

{% block js %}

<script src="{{ url_for('static', filename='js/signup.js') }}"></script>

{% endblock js %}